@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4fc3dc44;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4fc3dc;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #307180;
  }




















body{
    display: flex;
    background: #0c192c;
    overflow: hidden;
    max-width: 100%;
    height: 958px;
}

.father{
    position: fixed;
}

.bubbles{
    position: relative;
    display: flex;
    z-index: -1;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}


@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}




.container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding-left: 7%;
}


#icons{
    display: flex;
    font-size: 86px;
    justify-content: space-between;
    text-align: center;
    width: 1200px;
    padding-right: 7%;
    padding-top: 23%;
}



#icons a{
    width: 130px;
    height: 130px;
    color: white;
}


#icons a i p{
    font-family: 'Poppins', sans-serif;
}



h1{
    font-size: 52px;
}

p{
    font-size: 24px;
}

@media (max-width:1500px){
    .container{
        justify-content: flex-start;
        padding-top: 20%;
        
    }    
}

@media (max-width:1400px){
    .container{
        width: max-content;
        height: max-content;
    }    

    #icons{
        height: max-content;
        width: 700px;
    }

    h1{
        font-size: 42px;
    }
}

@media (max-width:1200px){

    body{
        flex-direction: column;
        overflow-y: scroll;
    }

    #icons{
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: auto;
}
    .bubbles{
        z-index: -10;
    }
}


@media (max-width:750px){

    body{
        overflow-y: scroll;
    }

    .container{
        justify-content: flex-start;
        padding: 0;
        padding-left: 8%;
        padding-top: 1.5%;
    }

    #icons{
        flex-direction: column;
        min-height: 600px;
    }

    .bubbles{
        filter: blur(5px);
    }
}












